body{
    background-color: rgba(51, 50, 50, 0.274);
}
p{
    font-size: 50px;
    border: solid 30px;
    width: 50%;
    text-align: center;
    border-image: linear-gradient(violet,pink) 30;
    color:blue;
}
table{
    border: double 2px greenyellow;
    width: 50%;
}
th,td{
    border: solid 1px purple;
    width: 25%;
    height: 1cm;
    font-size: 24px;
}
tr:hover{
    background-color: lightgray;
}
td:hover{
    background-image: url(https://i.pinimg.com/originals/3b/9e/cb/3b9ecbcfaefbe600c295e6caf230361e.gif);
    color: white;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}
tr:nth-child(odd){
    background-color: lightcyan;
}
tr:nth-child(even){
    background-color: darkcyan;
}
caption{
    font-size: 50px;
    font-family: 'Rubik Moonrocks', cursive;
    color: purple;
}